/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$gray	 : #888;
$bordeau : #A00;
$grey_ligth : #E5E5E5;
$grey_dark : #666;




body {

		color: $gray;
		font-family: 'Roboto', sans-serif;
		line-height: 2;

	a {
		color: $gray;
		text-decoration: none;

		&:hover {
			color : $bordeau;
		}

	}

	
	.text_grey {
		font-size: 1rem;
		color: $gray;
	}



	h1, h3 {
		font-size : 2.2rem;
		width: 70%;
		display: block;
		float: left;
	}


	.main {

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;	
		margin : auto;
		justify-content: center;
		margin-top: 0;
		border: 1px solid $grey_ligth;
		overflow: auto;
		width: 500px;
		height: 100%;



			.main-container {	
				
	   		 	margin-top: 100px;
	   		 	right: 0px;
	   		 	bottom: 100px;
	   		 	left: 0px;
				padding: 20px; 	
				background-color: #FFF;
				

			}
		
		//
			#page1 {
				//z-index: 90;
				
				height: 100%;
				width: 100%;
				margin-right: -4px;
				bottom: 100px;
				


			}
				
			#page2 {
				@extend #page1;
				//z-index: 80;
				margin-top: 6px;
				background-color: #FFF;
				transition: transform 0.5s ease-in-out;
				display: none;	
			}


		
		
			.main-header {
				
				position: absolute;
				top:0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 75px;
				z-index: 100;
				padding: 15px;
				border-bottom: 1px solid $grey_ligth;
				background-color: white;


				
					.add {

						float: right;
						//display: block;
						background-color:#ffffff;
						-moz-border-radius:42px;
						-webkit-border-radius:42px;
						border-radius:42px;
						border:1px solid #969696;
						cursor:pointer;
						color:$gray;
						font-family: Arial;
						font-size:28px;
						padding:4px 25px;
						text-decoration:none;
						margin-right: 10px;
						margin-top: 4px;
					
						-webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
						-moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
						box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);

						
					

								&:hover {
								
								color:$bordeau;
								border: 1px solid $bordeau;

								}

					}
					.close {
						@extend .add;
						-ms-transform: rotate(45deg); /* IE 9 */
					    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
					    transform: rotate(45deg);
					}
					

					

			}
		
			//todilist

			
				

				.item-title {
					font-size: 1rem;
					font-weight: bold;	
					width: 100%;
					padding-top: 5px;
				}

				.task_description {
					margin-left: 15px;
					//display: none;
					color : $grey_dark;

				}
				.task_infos {
					margin-left: 30px;
					font-size: 0.85em;
					padding-bottom: 15px;
					border-bottom: 1px solid $grey_ligth;
					//display: none;
					
				}

				.menu{

					//display: flex;
					float: right;
					width: 100%;
					//display: none;

						li {
							padding-right : 15px;
							float: right;

							a {
								font-size: 0.8em;
							}
						}

				}
				
				.note {
					border-bottom: 1px solid $grey_ligth;
					padding-left: 10px;

						input {
							border: none;
						}

						textarea {
							border: none;
							height:100px;
							width: 100%;
							overflow: hidden;
								
						}


				
				
				.bt_OK a {

						display: block;

						width: 50%;
						height: 30px;
						background-color: $bordeau;
						text-align: center;
						color: white;
						padding:2px;
						border-radius:50px;
						margin: auto;
						text-decoration: none;
						margin-top: 15px; margin-bottom:15px;

					}
				
				
				#done_list {
					
					h2 {
					
					text-decoration: line-through;

					}


				}

				#late_list {
					
					h2 {
					
					text-decoration: line-through;
					color : $bordeau;

						a {
							color : $bordeau;
						}

					}


				}
				
				

				
				


			}



			// cercle

			.cercle {
			  background-color: black;
			  border-radius:50%;
			  width:14px;
			  height:14px;
			  float: left;
			  margin-right: 10px;
			  margin-top: 7px;
			}
			.cercle2 {
			 @extend .cercle;
			  background-color: white;
			  border: 1px solid $gray;
			  width:13px;
			  height:13px;
			 
			 
			}
			.cercle3 {
			 @extend .cercle;
			  background-color: $bordeau;
			 
			}


	}

	.main-footer{
			//position: absolute;	
			border-top: 1px solid $grey_ligth;
			display: flex;
			width: 100%;
			align:center;
			height: 100px;
			bottom: 0;
			left: 0;
			right: 0;
			vertical-align:baseline;

				li {
					padding-right : 15px;
					float: right;
				}
				h2 {
					margin-right: 15px;

				}

	}

}


.display { 

	display: block; 

}


